
button {
    cursor: pointer;
}

/* @property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid;
} */

.thead {
    background: rgb(220, 220, 220);
}

.tdata {
    margin-top: -8px;
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
}

.th {
    font-size: 14px;
    font-weight: 600;
    padding: 3px 10px 3px 10px;
    border-left: 1px solid #fff;
}

.td {
    font-size: 14px;
    padding: 8px 10px 8px 10px;
    margin-block: auto;
    background: #f8fafc;
    height: 100%;
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-y {
    display: flex;
    align-items: center;
}

.flex-center-x {
    display: flex;
    justify-content: center;
}

.text-2xs {
    font-size: 10px;
}

.clip-zigzag {
  /* background: white; */
  padding: 50px;
  clip-path: polygon(
    0% 30px,
    2.5% 0,
    5% 30px,
    7.5% 0,
    10% 30px,
    12.5% 0,
    15% 30px,
    17.5% 0,
    20% 30px,
    22.5% 0,
    25% 30px,
    27.5% 0,
    30% 30px,
    32.5% 0,
    35% 30px,
    37.5% 0,
    40% 30px,
    42.5% 0,
    45% 30px,
    47.5% 0,
    50% 30px,
    52.5% 0,
    55% 30px,
    57.5% 0,
    60% 30px,
    62.5% 0,
    65% 30px,
    67.5% 0,
    70% 30px,
    72.5% 0,
    75% 30px,
    77.5% 0,
    80% 30px,
    82.5% 0,
    85% 30px,
    87.5% 0,
    90% 30px,
    92.5% 0,
    95% 30px,
    97.5% 0,
    100% 30px,
    100% 100%,
    0 100%
  );
}


