
button {
    cursor: pointer;
}

/* @property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid;
} */

.thead {
    background: rgb(220, 220, 220);
}

.tdata {
    margin-top: -8px;
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
}

.th {
    font-size: 14px;
    font-weight: 600;
    padding: 3px 10px 3px 10px;
    border-left: 1px solid #fff;
}

.td {
    font-size: 14px;
    padding: 8px 10px 8px 10px;
    margin-block: auto;
    background: #f8fafc;
    height: 100%;
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-items: center;
    align-items: center;
}

.flex-center-y {
    display: flex;
    align-items: center;
}

.flex-center-x {
    display: flex;
    justify-content: center;
}